/*//////////////////////////////////////////////////////////////////
Parent Mixins
*/
/*//////////////////////////////////////////////////////////////////
Child Mixins
*/
.span-1 {
  width: 6.25%; }

.span-2 {
  width: 12.5%; }

.span-3 {
  width: 18.75%; }

.span-4 {
  width: 25%; }

.span-5 {
  width: 31.25%; }

.span-6 {
  width: 37.5%; }

.span-7 {
  width: 43.75%; }

.span-8 {
  width: 50%; }

.span-9 {
  width: 56.25%; }

.span-10 {
  width: 62.5%; }

.span-11 {
  width: 68.75%; }

.span-12 {
  width: 75%; }

.span-13 {
  width: 81.25%; }

.span-14 {
  width: 87.5%; }

.span-15 {
  width: 93.75%; }

.span-16 {
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .span-8 {
    width: 100%; }

  .span-9 {
    width: 100%; }

  .span-10 {
    width: 100%; }

  .span-11 {
    width: 100%; }

  .span-12 {
    width: 100%; }

  .span-13 {
    width: 100%; }

  .span-14 {
    width: 100%; }

  .span-15 {
    width: 100%; }

  .span-16 {
    width: 100%; } }
@media only screen and (max-width: 767px) {
  .span-1 {
    width: 100%; }

  .span-2 {
    width: 100%; }

  .span-3 {
    width: 100%; }

  .span-4 {
    width: 100%; }

  .span-5 {
    width: 100%; }

  .span-6 {
    width: 100%; }

  .span-7 {
    width: 100%; } }
/*//////////////////////////////////////////////////////////////////
Parent Mixins
*/
/*//////////////////////////////////////////////////////////////////
Child Mixins
*/
.span-1 {
  width: 6.25%; }

.span-2 {
  width: 12.5%; }

.span-3 {
  width: 18.75%; }

.span-4 {
  width: 25%; }

.span-5 {
  width: 31.25%; }

.span-6 {
  width: 37.5%; }

.span-7 {
  width: 43.75%; }

.span-8 {
  width: 50%; }

.span-9 {
  width: 56.25%; }

.span-10 {
  width: 62.5%; }

.span-11 {
  width: 68.75%; }

.span-12 {
  width: 75%; }

.span-13 {
  width: 81.25%; }

.span-14 {
  width: 87.5%; }

.span-15 {
  width: 93.75%; }

.span-16 {
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .span-8 {
    width: 100%; }

  .span-9 {
    width: 100%; }

  .span-10 {
    width: 100%; }

  .span-11 {
    width: 100%; }

  .span-12 {
    width: 100%; }

  .span-13 {
    width: 100%; }

  .span-14 {
    width: 100%; }

  .span-15 {
    width: 100%; }

  .span-16 {
    width: 100%; } }
@media only screen and (max-width: 767px) {
  .span-1 {
    width: 100%; }

  .span-2 {
    width: 100%; }

  .span-3 {
    width: 100%; }

  .span-4 {
    width: 100%; }

  .span-5 {
    width: 100%; }

  .span-6 {
    width: 100%; }

  .span-7 {
    width: 100%; } }
body {
  display: -webkit-box;
  /* OLD iOS 6, Safari 3.1-6 */
  display: -moz-box;
  /* OLD Firefox 19- (buggy) */
  display: -ms-flexbox;
  /* Tweener IE 10 */
  display: -webkit-flex;
  /* NEW Chrome * */
  display: flex;
  /* NEW Spec Opera 12.1 Firefox 20+ */
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-flex-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

div {
  min-height: 1px; }

.wrapper {
  background-color: #ccc;
  width: 1200px;
  display: -webkit-box;
  /* OLD iOS 6, Safari 3.1-6 */
  display: -moz-box;
  /* OLD Firefox 19- (buggy) */
  display: -ms-flexbox;
  /* Tweener IE 10 */
  display: -webkit-flex;
  /* NEW Chrome * */
  display: flex;
  /* NEW Spec Opera 12.1 Firefox 20+ */
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -ms-flex-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-justify-content: space-around;
  -moz-box-justify-content: space-around;
  -ms-flex-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.column {
  padding: 25px 0px;
  text-align: center;
  background-color: #444;
  color: #fff; }

.row {
  background-color: #ccc;
  display: -webkit-box;
  /* OLD iOS 6, Safari 3.1-6 */
  display: -moz-box;
  /* OLD Firefox 19- (buggy) */
  display: -ms-flexbox;
  /* Tweener IE 10 */
  display: -webkit-flex;
  /* NEW Chrome * */
  display: flex;
  /* NEW Spec Opera 12.1 Firefox 20+ */
  -webkit-box-flex-grow: 1;
  -moz-box-flex-grow: 1;
  -ms-flex-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-flex-shrink: 1;
  -moz-box-flex-shrink: 1;
  -ms-flex-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  /*
  This defines the default size of an element before the remaining space 
  is distributed. The main-size value makes it match the width or height, 
  depending on which is relevant based on the flex-direction.
  
  If set to 0, the extra space around content isn't factored in. If set to 
  auto, the extra space is distributed based on it's flex-grow value.
  */
  -webkit-box-flex-basis: auto;
  -moz-box-flex-basis: auto;
  -ms-flex-flex-basis: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -ms-flex-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -ms-flex-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-justify-content: space-around;
  -moz-box-justify-content: space-around;
  -ms-flex-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

/*# sourceMappingURL=styles.css.map */
