//@import 'mixin';

$columnBrdr: #000;
$rowBrdr: #ccc;
$wrapperBrdr: #ff43dc;

body {
    font-family: sans-serif; 
}

div {
    min-height: 1px;
}

.wrapper {
    display: block;
    margin: 0 auto;
    min-width: $min-width;
    max-width: $max-width;
}

.centered {
    margin: 0 auto;
}

.flexbox {
    @include displayFlex();
    @include flex(0,0,50%);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-around);
    .item {
        margin: 1em;
    }
}

.browser-error {
    color: #ff0000;
    font-size: 3em;
    text-align: center;
}