.sass-cache
images/landingPages/*
*.tractum.php

debug_log.txt

.DS_Store
*.sublime-project
*.sublime-workspace

lib/local.settings.php

certifications/

blog/

images/banners/
images/clientLogos/

sftp-config.json

video/

### NetBeans ###
nbproject
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

styles.css.map
*.css.map